body{
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #040F0F;
  background-color: #FEFEFF;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
}

nav {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding-top: 2vw;
  padding-bottom: 2vw;
  width: 100%;
  background-color: #1D2633;
  color: #FEFEFF;
}

.nav-gauche, .nav-droite {
  display: flex;
}

.nav-gauche {
  justify-content: flex-start;
  margin-left: 15vw;
}

.nav-droite {
  justify-content: flex-end;
  margin-right: 15vw;
}

nav a {
  font-size: 2vw;
  transition: 0.2s;
}

nav a:hover {
  color: #FFD747;
  transform: scale(1.05);
}

nav img {
  height: 5vw;
  object-fit: contain;
  transition: 0.3s;
}

nav img:hover {
  transform: scale(1.15);
}