body{
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #101011;
  background-color: #FEFEFF;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
}

nav {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding-top: 2vw;
  padding-bottom: 2vw;
  width: 100%;
  background-color: #1D2633;
  color: #FEFEFF;
}

.nav-gauche, .nav-droite {
  display: flex;
}

.nav-gauche {
  justify-content: flex-start;
  margin-left: 15vw;
}

.nav-droite {
  justify-content: flex-end;
  margin-right: 15vw;
}

nav a {
  font-size: 2vw;
  transition: 0.2s;
}

nav a:hover {
  color: #FFD747;
  transform: scale(1.05);
}

nav img {
  height: 5vw;
  object-fit: contain;
  transition: 0.3s;
}

nav img:hover {
  transform: scale(1.15);
}

.best-du-moment {
  width: 100%;
  margin-top: 5vw;
  text-align: center;
  color: #1D2633;
}

.titre-section {
  font-size: 3vw;
  margin-bottom: 4vw;
}

.podium {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 4vw;
  width: 100%;
}

.film {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.affiche {
  background-color: #CFD1DA;
  border-radius: 1vw;
  box-shadow: 0 0.4vw 1vw rgba(0, 0, 0, 0.15);
}

.titre-film {
  margin-top: 1.2vw;
  font-size: 1.5vw;
  color: #101011;
}

.rang {
  position: absolute;
  top: -1vw;
  right: -1vw;
  background-color: #FFD747;
  font-size: 1.2vw;
  padding: 0.5vw 1vw;
  border-radius: 1vw;
  font-weight: bold;
}

.podium-1 .affiche {
  height: 28vw;
  width: 18vw;
}

.podium-2 .affiche {
  height: 22vw;
  width: 15vw;
  margin-bottom: 2vw;
}

.podium-3 .affiche {
  height: 20vw;
  width: 14vw;
  margin-bottom: 3vw;
}
