body{
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #101011;
  background-color: #FEFEFF;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
  font-weight: 500;
}

nav {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding-top: 2vw;
  padding-bottom: 2vw;
  width: 100%;
  background-color: #1D2633;
  color: #FEFEFF;
}

.nav-gauche, .nav-droite {
  display: flex;
}

.nav-gauche {
  justify-content: flex-start;
  margin-left: 15vw;
}

.nav-droite {
  justify-content: flex-end;
  margin-right: 15vw;
}

nav a {
  font-size: 2vw;
  transition: 0.2s;
  cursor: pointer;
}

nav a:hover {
  color: #FFD747;
}

nav img {
  height: 5vw;
  object-fit: contain;
  transition: 0.3s;
  cursor: pointer;
}

nav img:hover {
  transform: scale(1.15);
}

.titre-section {
  margin-top: 5vw;
  font-size: 3vw;
  margin-bottom: 4vw;
  text-transform: uppercase;
  text-align: center;
}

.recherche {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.info {
  font-size: 1.4vw;
  margin-bottom: 1vw;
  margin-left: 3vw;
  white-space: nowrap;
}

.barre {
  width: 90vw;
  padding: 1.8vw 2.5vw;
  font-size: 1.6vw;
  border-radius: 2vw;
  border: none;
  font-family: inherit;
  box-shadow: inset 0 0.3vw 0.8vw rgba(0,0,0,0.2);
  margin-left: 1vw;
}

.resultats {
  display: flex;
  flex-wrap: wrap;
  gap: 4vw;
  width: 92vw;
  margin: 6vw auto;
}

.resultats .info,
.resultats .chargement {
  width: 100%;
  text-align: center;
  font-size: 1.5vw;
  opacity: 0.7;
  margin-top: 3vw;
}
.film-resultat {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20vw;
  margin-bottom: 2vw;
}

.affiche {
  height: 28vw;
  width: 18vw;
  border-radius: 1vw;
  box-shadow: 0 0.6vw 1vw rgba(0, 0, 0, 0.15);
  object-fit: cover;
}

.titre-film {
  color: #101011;
  font-size: 2vw;
}

.bouton-plus {
  font-size: 1.5vw;
  padding: 1vw 6vw;
  background-color: #FFD747;
  color: #101011;
  border: none;
  border-radius: 0.8vw;
  font-family: inherit;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s;
  transform: translateY(1vw);
  box-shadow: 0 0.6vw 1vw rgba(0, 0, 0, 0.15);
}

.bouton-plus:hover {
  transform: translateY(1vw) scale(1.1);
}

.resume-cache {
  width: 20vw;
  background-color: #FFD747;
  color: #101011;
  border-radius: 1vw;
  margin-top: 1vw;
  overflow: hidden;
  height: 0px;
  box-shadow: 0 0.6vw 1vw rgba(0, 0, 0, 0.15);
  transition: height 0.4s ease;
}

.resume-cache p {
  font-size: 1.1vw;
  padding: 1.5vw;
  line-height: 1.5;
}

.charger-btn {
  font-size: 1.8vw;
  padding: 1vw 7vw;
  background: rgba(0, 0, 0, 0.4);
  color: #FEFEFF;
  border: none;
  border-radius: 0.8vw;
  font-family: inherit;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s;
  transform: translateY(1vw);
  box-shadow: 0 0.6vw 1vw rgba(0, 0, 0, 0.15)
}

.charger-btn:hover {
  background: #1D2633;
  color: #CFD1DA;
}

.footer {
  margin-top: 6vw;
  background-color: #1D2633;
  color: #FEFEFF;
  padding: 2.5vw 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70vw;
  margin: auto;
}

.footer-content p {
  font-size: 1.2vw;
  opacity: 0.8;
  width: 15vw;
}

.footer-nav {
  display: flex;
  gap: 2.5vw;
}

.footer-nav a {
  font-size: 1.4vw;
  transition: 0.2s;
}

.footer-nav a:hover {
  color: #FFD747;
}
